<div style="text-align: center;">
<h1>
  {{message}}

</h1>
</div>
<app-test (childevent)="message=$event" [parentData] = "name"></app-test>

<div>hello now you can see component example</div>
<button (click) = clickB()>click it</button>

<div *ngIf = 'true'>now we will see example of ngif</div> 

<div [ngStyle] = "{'color':'red','font-weight':'Bold','background-color':'black'}">Now we will will see example of attribute</div>

<p appHighlight>Highlight me</p>


<h1>My First Attribute Directive</h1>
<p>Pick a highlight color</p>
<div>
  <input type="radio" name="colors" (click) = "color = 'lightgreen'">Green
  <input type= "radio" name="colors" (click) = "color = 'yellow'">Yellow
  <input type="radio" name="colors" (click) = "color = 'cyan'">Cyan
</div>
<p [appHighlight] = "color">Highlight me!</p>