<form [formGroup] = "profileForm">
    <label>
        firstName:
        <input type="text" formControlName = "firstName" required>

    </label>
    <label>
        lastName:
        <input type="text" formControlName = "lastName">

    </label>
    
</form>
<form [formGroup] = "profileForm" (ngSubmit) = "onSubmit()"></form>
<button type="submit" [disabled] = "!profileForm.valid">Submit</button>

<div FormGroupName = "Address">
    <h1>Address</h1>
    <label>
        Street:
        <input type="text" FormControlName = "street">
    </label>
    <label>
        City:
        <input type="text" FormControlName = "city">
    </label>
    <label>
        State:
        <input type="text" FormControlName = "state">
    </label>
    <label>
        Zip:
        <input type="text" FormControlName = "zip">
    </label>
</div>
<p>
    <button (click) = updateName()>Update Name</button>
</p>
<p>
    Profile Status : {{profileForm.status}}
</p>

<div formArrayName = "aliases">
    <h3>Aliases<button (click) = "addAlias()">Add Alias</button></h3>
    <div *ngFor = "let alias of aliases.controls; let i=index">
        <label>
            Alias:
            <input type="text" [formControlName] = "i">

        </label>
    </div>
</div>